<div class="jumbotron">
  <div class="row">
    <div class="input-field col s6">
      <input id="user" name="user" [(ngModel)]="user.name" type="text" class="validate" required>
      <label class="active" for="user">Usuário</label>
      <div *ngIf="userNameError" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s6">
      <input id="password" name="password" [(ngModel)]="user.password" type="password" class="validate" required>
      <label class="active" for="password">Senha</label>
    </div>
  </div>
  
  <button class="btn waves-effect waves-light" type="submit" (click)="doLogin()">Login
    <i class="material-icons right">send</i>
  </button>
</div>