<div *ngFor='let list of lists'>
  <div class="card">
    <div class="card-header header">
      <h5 class="list-title">{{ list.name }}</h5>
      <a (click)="deleteList(list.id)" class="waves-effect waves-light btn transparent list-remove">
        <i class="material-icons">close</i>
      </a>
      <a (click)="updateName(list.id, list.name)" class="waves-effect waves-light btn transparent list-edit">
        <i class="material-icons">edit</i>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ list.subject }}</h5>
      <p class="card-text">{{ list.theme }}</p>
      <a [routerLink]="['/exercise', list.id]" class="btn btn-primary blue">Ver lista</a>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i (click)="openDialog()" class="large material-icons">add</i>
  </a>
</div>