<h2 mat-dialog-title>Gerar Lista de Exercício</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="question" name="question" [(ngModel)]="listName" type="text" class="validate">
          <label for="question">Nome</label>
        </div>
      </div>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="listSubject" type="text" placeholder="Matéria" aria-label="Assignee" matInput
            [formControl]="subjectControl" [matAutocomplete]="subject" (input)="onInputSubjectsChange($event.target.value)">
          <mat-autocomplete #subject="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject">
              {{ subject }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="example-form option">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="listTheme" type="text" placeholder="Tema" aria-label="Assignee" matInput [formControl]="themeControl"
            [matAutocomplete]="theme" (input)="onInputThemesChange($event.target.value)">
          <mat-autocomplete #theme="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let theme of filteredThemes | async" [value]="theme">
              {{ theme }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
  <button mat-button (click)="generateList()">Gerar Lista</button>
</mat-dialog-actions>